/*body{
    background-color: rgb(228, 228, 228);
}
h1{
    font-size: 20px;
}
h2{
    padding-top: 5px;
    font-size: 18px;
}
label{
    font-size: 14px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: rgb(59, 59, 59);
}
.button-creartarea{
    background-color:#3184a5;
    position: absolute;
    right: 2px;
    top: 2px;
    height: 43px;
    width: 150px;
    border-radius: 4px;
    border: solid 0.5px;
    border-color: rgb(41, 41, 41);
    cursor: pointer;
}
.button-2{
    background-color:#398cad;
    margin-top: 5px;
    height: 30px;
    width: 70px;
    border-radius: 4px;
    border: solid 0.5px;
    border-color: rgb(41, 41, 41);
    cursor: pointer;
}
button:hover {
    background: #2d7fa0;

.container-1{ }
    background-color: aquamarine;
    height: 600px;
    margin: 0;
    border: solid black;
    display: flex;
}
.container-2{
    font-family: sans-serif;
    width: 300px;
    height: 30px;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 5px;
    text-align: center;
}
.container-3{
    width: 300px;
    height: 500px;
    background: rgb(255, 255, 255);
    margin-left: 20px;
    border: solid  0.1px rgb(221, 221, 221);
    text-align: center;
    border-radius: 5px;
}
.menu{
    background-color: #3592b8;
    width: 300px;
    height: 230px;
    position: absolute;
    top: 47px;
    right: 0px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 5px;
}
.menu-division{
    margin: 10px;
} */

/*--------------------------------------------------*/
.l-app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.l-container{
    width: 100%;
    padding: 10px;
}

#modalNewTask{
    color: rgb(255, 255, 255);
}
#btnNewTask{
    color: #5e3131;
}
#btnCancelNewTask{
    color: rgb(255, 255, 255);
}
.button{
    color: red;
    cursor: pointer;
    transition: all 0.8s ease-out;
}
.button:active
{
    transform: scale(.9);
    background-color: rgb(87, 146, 255);
}
.button.button-primary{
    color: #3184a5;
}
.button.button-secundary.ghost{
    
    color: rgb(49, 49, 49);
}


.card-task{
    box-shadow: #2d7fa0;
}
.card-task__title{
    color: #000000;
}
.card-task__responsible,
.card-task__date
{
    color: #12113f;
}
.card_task__responsible--tag-creator,
.card_tast__date--tag-date
{
    color: #1e1747;
}

.form-new-task{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.row-form
{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.form-new-task__label{
font-size: medium;
}
.form-new-task__input,
select
{
padding: 10px;
}
.form-new-task__buttons
{
    display: flex;
    gap: 10px;
}
.form-new-task__buttons
button
{
flex: 1;
}

.aside-app{
    position: fixed;
    width: 100%;
    max-width: 350px;
    height: 55vh;
    background-color: #2d7fa0;
    transform: translate(400%);
    will-change: transform;
    transition-duration: 0.5s;
    z-index: 1;
    top: 65.5px;
}
.aside-app.active{
    transform: initial;
    right: 0;
    
}
.form-container{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.aside-form-title{
    color: #ffffff;
}
.header-app {
    box-shadow: #5e3131;
    background-color: #505050;
}
.header-app,
.header-app .l-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-app{
    flex-direction: column;
    background-color: rgb(150, 164, 243);
}
.main-app,
.main-app .l-container
{
    flex: 1;
    display: flex;
    gap: 20px;
}

.section-app{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 300px;
}
.section-status-title
{
    color: rgb(0, 0, 0);
}
.container-tasks
{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #12113f;
}

.draggable-mirror{
    z-index: 999;
}
.draggable-container--over article:not(.draggable-mirror) {
    z-index: 0;
}
.draggable--over, .draggable-source--is-dragging {
    border-color: yellow;
    opacity: .4;
}
.draggable-container--over {
    border: none;
}